<div class="page-header">
  <h2>Home Dashboard</h2>
  <p class="subtitle">Overview of your system's health and data flow.</p>
</div>

<div class="stat-grid">
  <div class="stat">
    <h3>Outside Temp</h3>
    <p hx-swap="innerHTML" hx-get="/api/latest-sensor-value/17" hx-trigger="load" hx-target="this"></p>
  </div>
  <div class="stat">
    <h3>Nora Room Temp</h3>
    <p hx-swap="innerHTML" hx-get="/api/latest-sensor-value/14" hx-trigger="load" hx-target="this"></p>
  </div>
  <div class="stat">
    <h3>Nora Room AQ</h3>
    <p hx-swap="innerHTML" hx-get="/api/latest-sensor-value/13" hx-trigger="load" hx-target="this"></p>
  </div>
</div>
